Android.bp filter=lfs diff=lfs merge=lfs -text
CHANGES.txt filter=lfs diff=lfs merge=lfs -text
LICENSE.txt filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
setup.cfg filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
MANIFEST.in filter=lfs diff=lfs merge=lfs -text
pyasn1_modules filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
setup.py filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
